{% extends 'base.html.twig' %}

{% block title %}
    Страница с игрой
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Код игры: <b>{{ room.code }}</b></h2>

                Список игроков:

                <ul class="players_list">
                    {% for player in room.usersToRooms %}
                        <li class="collection-item" data-id="{{ player.player.id }}">
                            {{ player.player.nickname }}
                        </li>
                    {% endfor %}
                </ul>
                {% if room.owner == app.user %}
                    <a class="btn waves-effect waves-light" href="{{ path('lobby_start', {room: room.id}) }}">Начать</a>
                {% endif %}
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/gh/centrifugal/centrifuge-js@2.8.4/dist/centrifuge.min.js"></script>
    <script type="text/javascript">
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function process(ctx) {
            switch (ctx.data.action){
                case "new_player":
                    addUser(ctx.data.user);
                    break;
                case "start_game":
                    startGame();
                    break;
                default:
                    console.log(ctx);
            }
        }

        function startGame() {
            document.location.href = '/room/{{ room.id }}/client';
        }

        function addUser(user){
            $('.players_list').append('<li>' + user.nickname + '</li>');
        }

        document.addEventListener('DOMContentLoaded', function (){
            const cookie = getCookie('token');
            const centrifuge = new Centrifuge("{{ public_socket_host }}");
            centrifuge.setToken(cookie);

            centrifuge.on('connect', function(ctx) {
                $.get('/action/{{ room.id }}/connected');
            });

            centrifuge.on('disconnect', function(ctx) {
                $.get('/action/{{ room.id }}/disconnected');
            });

            centrifuge.subscribe("room_{{ room.id }}", process);
            centrifuge.subscribe("user_{{ app.user.id }}", process);

            centrifuge.connect();
        }, false);
    </script>
{% endblock %}